@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body{
    font-family: 'Roboto', sans-serif;
    height: 98%;
}
.proxima-pagina{
    position: absolute;
    right: 50px;
    top: 50px;
}
.cima{
    background-color: #cf4545;
    height: 14%;
    width: 100%;
}
.esquerda{
    background-color: #cd9292;
    width: 20%;
    height: 100%;
}
.direita{
    background-color: #753535;
    width: 80%;
    height: 100%;
}
.baixo{
    background-color: #9f3d3d;
    height: 14%;
}
.cria{
    display: flex;
    height: 60%;
    width: 100%;
}