@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

html, body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;

}

.left{
    grid-area: 1/1/2/2;
}

.right{
    grid-area: 1/2/2/3;
    background-color: white;
}

.usuario{
    height: 10%;
    background-color: #171c22;
    display: flex;
}

.usuario > img{
    margin-top: 10px;
    margin-left: 10px;
    height: 60%;
    border-radius: 50%;
}

.meio{
    height: 90%;
    background-color: #22272d;
}

.boa > span{
    color: #9eb0be;
}

.boa{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
}

.arrow{
    margin-top: 30px;
    font-size: 50px;
    margin-left: 100px;
}

.left-icons{
    margin-left: 20px;
    font-size: 24pt!important;
    display: flex;
    align-items: center;
}

.left-word{
    color: #9eb0be;
    font-size: 14pt;
    margin-left: 20px;
    margin-top: 15px;
}

.icons-left{
    margin-top: 15px;
}