@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.proxima-pagina{
    position: absolute;
    right: 50px;
    top: 50px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
.table{
    width: 800px;
    border-collapse: collapse;
}
th{
    text-align: left;
}
td{
    border-top: 1px solid black;
}